.form {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 15%;
  }
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }