.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color:#fff;
}

.links {
    display: flex;
    margin-left: auto;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 20px;
}

.nav-link:hover {
    color: #00bcd4;
}

.logout-button {
    background-color: yellow;
    color: #333;
    border: none;
    padding: 10px 15px;
    cursor:  pointer;
    margin-left: 20px;
}